* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html { 
    height: 100%; 
    font-size: 16px;
}

body {
    font-family: $font-primary;
    height: 100%;
}
